#logo {
    margin-right: auto;
    width: 15px;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    padding: 5px 10px;
    background-color: black;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
}

#img1 {
    position: initial;
}

nav {
    background-color: rgb(26, 34, 143);
}

body{
    background-image: url(https://i.pinimg.com/564x/df/57/df/df57df27c5abfa982284c5e00b5ae656.jpg);
}


h1 {
    color: rgb(0, 0, 0);
    font-size: 25px;

    font-family: 'Bebas Neue', cursive;
}

.card {
    border: none;
    background-image: url(https://i.pinimg.com/564x/27/fb/66/27fb664ce2cf99a0c9acd9937b572e22.jpg);
}

.card-body {
    padding: 10px;
    align-items: center;

}

.card-text{
    font-family: 'Bebas Neue', cursive;

    color: rgb(206, 206, 206);
}

.mapa-responsive{

    overflow:hidden;
    padding-bottom:30%;
    position:relative;

    height:0;
}

.mapa-responsive iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;

    position:absolute;

}